<BsModal
  @position={{@options.position}}
  @scrollable={{@options.scrollable}}
  @size={{@options.size}}
  @backdropClose={{@options.backdropClose}}
  @backdropTransitionDuration={{@options.backdropTransitionDuration}}
  @keyboard={{@options.keyboard}}
  @renderInPlace={{@options.renderInPlace}}
  @transitionDuration={{@options.transitionDuration}}
  @open={{@modalIsOpened}}
  @onSubmit={{this.confirm}}
  @onHidden={{this.decline}}
  class={{@options.modalClass}}
as |modal|>
  <modal.header @closeButton={{@options.closeButton}}>
    {{#if @options.titleComponent}}
      {{component
        (ensure-safe-component @options.titleComponent)
        options=@options
      }}
    {{else}}
      <BsModal::Header::Title>{{@options.title}}</BsModal::Header::Title>
    {{/if}}
  </modal.header>
  <modal.body>
    {{#if @options.bodyComponent}}
      {{component
        (ensure-safe-component @options.bodyComponent)
        options=@options
        updatePromptValue=this.updatePromptValue
      }}
    {{else}}
      <p>{{@options.body}}</p>
      <BsForm
        @model={{this}}
        @onSubmit={{this.confirm}}
      as |form|>
        <form.element
          @property="promptValue"
          @label={{@options.inputLabel}} />
      </BsForm>
    {{/if}}
  </modal.body>
  <modal.footer>
    {{#if @options.footerComponent}}
      {{component
        (ensure-safe-component @options.footerComponent)
        options=@options
        confirmDisabled=this.confirmDisabled
        confirm=modal.submit
        decline=modal.close
      }}
    {{else}}
      <p>{{@options.footer}}</p>
      <BsButton
        @type={{@options.declineButtonType}}
        @defaultText={{@options.declineButtonDefaultText}}
        @fulfilledText={{@options.declineButtonFulfilledText}}
        @pendingText={{@options.declineButtonPendingText}}
        @rejectedText={{@options.declineButtonRejectedText}}
        @active={{@options.declineIsActive}}
        @iconActive={{@options.declineIconActive}}
        @iconInactive={{@options.declineIconInactive}}
        @size={{@options.declineButtonSize}}
        @onClick={{modal.close}} />
      <BsButton
        @type={{@options.confirmButtonType}}
        @defaultText={{@options.confirmButtonDefaultText}}
        @fulfilledText={{@options.confirmButtonFulfilledText}}
        @pendingText={{@options.confirmButtonPendingText}}
        @rejectedText={{@options.confirmButtonRejectedText}}
        disabled={{this.confirmDisabled}}
        @active={{@options.confirmIsActive}}
        @iconActive={{@options.confirmIconActive}}
        @iconInactive={{@options.confirmIconInactive}}
        @size={{@options.confirmButtonSize}}
        @onClick={{modal.submit}} />
    {{/if}}
  </modal.footer>
</BsModal>
