{{! BEGIN-SNIPPET components-custom-progress-body.hbs }}
<p class="alert alert-info">
  Custom Progress Body Component {{@done}} / {{@overall}}
</p>
<BsProgress as |p|>
  <p.bar
    @value={{@progress}}
    @showLabel={{this.options.showLabel}}
    @striped={{this.options.striped}}
    @animate={{this.options.animate}}
    @type={{this.options.type}}>
  </p.bar>
</BsProgress>
{{! END-SNIPPET }}