{{! template-lint-disable attribute-indentation }}
<BsModal
  @position={{options.position}}
  @size={{options.size}}
  @backdropTransitionDuration={{options.backdropTransitionDuration}}
  @renderInPlace={{options.renderInPlace}}
  @transitionDuration={{options.transitionDuration}}
  @open={{modalIsOpened}}
  @onSubmit={{action "confirm"}}
  @onHidden={{action "decline"}}
as |modal|>
  <modal.header>
    {{#if options.titleComponent}}
      {{component
        options.titleComponent
        options=options}}
    {{else}}
      {{#bs-modal/header/title}}{{options.title}}{{/bs-modal/header/title}}
    {{/if}}
  </modal.header>
  <modal.body>
    {{#if options.bodyComponent}}
      {{component
        options.bodyComponent
        options=options}}
    {{else}}
      <p>{{options.body}}</p>
    {{/if}}
  </modal.body>
  <modal.footer>
    {{#if options.footerComponent}}
      {{component
        options.footerComponent
        options=options
        confirm=(action modal.submit)}}
    {{else}}
      <p>{{options.footer}}</p>
      <BsButton
        @type={{options.confirmButtonType}}
        @defaultText={{options.confirm}}
        @active={{options.confirmIsActive}}
        @iconActive={{options.confirmIconActive}}
        @iconInactive={{options.confirmIconInactive}}
        @size={{options.confirmButtonSize}}
        @onClick={{action modal.submit}} />
    {{/if}}
  </modal.footer>
</BsModal>