{{#bs-modal
  position=options.position
  size=options.size
  backdropTransitionDuration=options.backdropTransitionDuration
  fade=options.fade
  renderInPlace=options.renderInPlace
  transitionDuration=options.transitionDuration
  open=modalIsOpened
  onSubmit=(action "confirm")
  onHide=(action "decline") as |modal|
}}
  {{#modal.header}}
    {{#if options.titleComponent}}
      {{component
        options.titleComponent
        options=options
      }}
    {{else}}
      {{#bs-modal/header/title}}{{options.title}}{{/bs-modal/header/title}}
    {{/if}}
  {{/modal.header}}
  {{#modal.body}}
    {{#if options.bodyComponent}}
      {{component
        options.bodyComponent
        options=options
        updatePromptValue=(action "updatePromptValue")
      }}
    {{else}}
      <p>{{options.body}}</p>
      {{#bs-form model=this onSubmit=(action "confirm") as |form|}}
        {{form.element controlType="checkbox" property="promptValue" label=options.inputLabel}}
      {{/bs-form}}
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#if options.footerComponent}}
      {{component
        options.footerComponent
        options=options
        confirmDisabled=confirmDisabled
        confirm=(action modal.submit)
        decline=(action modal.close)
      }}
    {{else}}
      <p>{{options.footer}}</p>
      {{bs-button
        type=options.declineButtonType
        defaultText=options.decline
        active=options.declineIsActive
        iconActive=options.declineIconActive
        iconInactive=options.declineIconInactive
        size=options.declineButtonSize
        onClick=(action modal.close)
      }}
      {{bs-button
        type=options.confirmButtonType
        disabled=confirmDisabled
        defaultText=options.confirm
        active=options.confirmIsActive
        size=options.confirmButtonSize
        iconActive=options.confirmIconActive
        iconInactive=options.confirmIconInactive
        onClick=(action modal.submit)
      }}
    {{/if}}
  {{/modal.footer}}
{{/bs-modal}}