<BsModal
  @position={{this.options.position}}
  @size={{this.options.size}}
  @backdropTransitionDuration={{this.options.backdropTransitionDuration}}
  @renderInPlace={{this.options.renderInPlace}}
  @transitionDuration={{this.options.transitionDuration}}
  @open={{this.modalIsOpened}}
  @onSubmit={{this.confirm}}
  @onHidden={{this.decline}}
as |modal|>
  <modal.header>
    {{#if this.options.titleComponent}}
      {{component
        this.options.titleComponent
        options=this.options
      }}
    {{else}}
      <BsModal::Header::Title>{{this.options.title}}</BsModal::Header::Title>
    {{/if}}
  </modal.header>
  <modal.body>
    {{#if this.options.bodyComponent}}
      {{component
        this.options.bodyComponent
        options=this.options
      }}
    {{else}}
      <p>{{this.options.body}}</p>
    {{/if}}
  </modal.body>
  <modal.footer>
    {{#if this.options.footerComponent}}
      {{component
        this.options.footerComponent
        options=this.options
        confirm=modal.submit
        decline=modal.close
      }}
    {{else}}
      <p>{{this.options.footer}}</p>
      <BsButton
        @type={{this.options.declineButtonType}}
        @defaultText={{this.options.decline}}
        @active={{this.options.declineIsActive}}
        @iconActive={{this.options.declineIconActive}}
        @iconInactive={{this.options.declineIconInactive}}
        @size={{this.options.declineButtonSize}}
        @onClick={{modal.close}} />
      <BsButton
        @type={{this.options.confirmButtonType}}
        @defaultText={{this.options.confirm}}
        @active={{this.options.confirmIsActive}}
        @iconActive={{this.options.confirmIconActive}}
        @size={{this.options.confirmButtonSize}}
        @iconInactive={{this.options.confirmIconInactive}}
        @onClick={{modal.submit}} />
    {{/if}}
  </modal.footer>
</BsModal>