<BsModal
  @position={{@options.position}}
  @size={{@options.size}}
  @backdropTransitionDuration={{@options.backdropTransitionDuration}}
  @renderInPlace={{@options.renderInPlace}}
  @transitionDuration={{@options.transitionDuration}}
  @open={{@modalIsOpened}}
  @keyboard={{false}}
  @backdropClose={{false}}
  @onSubmit={{this.confirm}}
  @onHidden={{this.decline}}
as |modal|>
  <modal.header @closeButton={{false}}>
    {{#if @options.titleComponent}}
      {{component
        @options.titleComponent
        options=@options}}
    {{else}}
      <BsModal::Header::Title>{{@options.title}}</BsModal::Header::Title>
    {{/if}}
  </modal.header>
  <modal.body>
    {{#if @options.bodyComponent}}
      {{component
        @options.bodyComponent
        options=@options}}
    {{else}}
      <p>{{@options.body}}</p>
      {{#if @options.iconClass}}
        <p class="text-center"><i class={{@options.iconClass}}></i></p>
      {{/if}}
    {{/if}}
  </modal.body>
  <modal.footer>
    {{#if @options.footerComponent}}
      {{component
        @options.footerComponent
        options=@options}}
    {{/if}}
  </modal.footer>
</BsModal>