{{#bs-modal
  position=options.position
  size=options.size
  backdropTransitionDuration=options.backdropTransitionDuration
  renderInPlace=options.renderInPlace
  transitionDuration=options.transitionDuration
  open=modalIsOpened
  keyboard=false
  backdropClose=false
  onSubmit=(action "confirm")
  onHide=(action "decline") as |modal|
}}
  {{#modal.header closeButton=false}}
    {{#if options.titleComponent}}
      {{component
        options.titleComponent
        options=options
      }}
    {{else}}
      {{#bs-modal/header/title}}{{options.title}}{{/bs-modal/header/title}}
    {{/if}}
  {{/modal.header}}
  {{#modal.body}}
    {{#if options.bodyComponent}}
      {{component
        options.bodyComponent
        options=options
        progress=progress
        done=done
        overall=promisesCount
      }}
    {{else}}
      <p>{{options.body}}</p>
      {{#if promisesCount}}
        {{#bs-progress as |p|}}
          {{p.bar
            value=progress
            showLabel=options.showLabel
            striped=options.striped
            animate=options.animate
            type=options.type
          }}
        {{/bs-progress}}
      {{/if}}
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#if options.footerComponent}}
      {{component
        options.footerComponent
        options=options
      }}
    {{else}}
      {{#if options.cancelable}}
        {{#bs-button onClick=(action "cancel") disabled=canceled}}{{options.cancel}}{{/bs-button}}
      {{/if}}
    {{/if}}
  {{/modal.footer}}
{{/bs-modal}}