<BsModal
  @position={{@options.position}}
  @size={{@options.size}}
  @backdropTransitionDuration={{@options.backdropTransitionDuration}}
  @renderInPlace={{@options.renderInPlace}}
  @transitionDuration={{@options.transitionDuration}}
  @open={{@modalIsOpened}}
  @onSubmit={{this.confirm}}
  @onHidden={{this.decline}}
as |modal|>
  <modal.header>
    {{#if @options.titleComponent}}
      {{component
        @options.titleComponent
        options=@options}}
    {{else}}
      <BsModal::Header::Title>{{@options.title}}</BsModal::Header::Title>
    {{/if}}
  </modal.header>
  <modal.body>
    {{#if @options.bodyComponent}}
      {{component
        @options.bodyComponent
        options=@options
        updatePromptValue=this.updatePromptValue}}
    {{else}}
      <p>{{@options.body}}</p>
      <BsForm
        @model={{this}}
        @onSubmit={{this.confirm}}
      as |form|>
        <form.element
          @property="promptValue"
          @label={{@options.inputLabel}} />
      </BsForm>
    {{/if}}
  </modal.body>
  <modal.footer>
    {{#if @options.footerComponent}}
      {{component
        @options.footerComponent
        options=@options
        confirmDisabled=this.confirmDisabled
        confirm=modal.submit
        decline=modal.close}}
    {{else}}
      <p>{{@options.footer}}</p>
      <BsButton
        @type={{@options.declineButtonType}}
        @defaultText={{@options.decline}}
        @active={{@options.declineIsActive}}
        @iconActive={{@options.declineIconActive}}
        @iconInactive={{@options.declineIconInactive}}
        @size={{@options.declineButtonSize}}
        @onClick={{action modal.close}} />
      <BsButton
        @type={{@options.confirmButtonType}}
        @defaultText={{@options.confirm}}
        @disabled={{this.confirmDisabled}}
        @active={{@options.confirmIsActive}}
        @iconActive={{@options.confirmIconActive}}
        @iconInactive={{@options.confirmIconInactive}}
        @size={{@options.confirmButtonSize}}
        @onClick={{action modal.submit}} />
    {{/if}}
  </modal.footer>
</BsModal>