<BsForm @formLayout="vertical" @model={{this}} as |form|>
  <div class="row">
    <div class="col-md-6 demo ">
      <h3>Default modals:</h3>
      <BsButton
        class="alert-modal mb-1"
        @onClick={{this.showAlertModal}}
        @defaultText="Alert Modal"/>
      <BsButton
        class="confirm-modal mb-1"
        @onClick={{this.showConfirmModal}}
        @defaultText="Confirm Modal"/>
      <BsButton
        class="prompt-modal mb-1"
        @onClick={{this.showPromptModal}}
        @defaultText="Prompt Modal"/>
      <BsButton
        class="prompt-confirm-modal mb-1"
        @onClick={{this.showPromptConfirmModal}}
        @defaultText="Prompt Confirm Modal"/>
      <BsButton
        class="check-confirm-modal mb-1"
        @onClick={{this.showCheckConfirmModal}}
        @defaultText="Check Confirm Modal"/>
      <BsButton
        class="progress-modal mb-1"
        @onClick={{this.showProgressModal}}
        @defaultText="Progress Modal"/>
      <BsButton
        class="process-modal mb-1"
        @onClick={{this.showProcessModal}}
        @defaultText="Process Modal"/>

      <h3>Modals with custom components:</h3>
      <BsButton
        class="custom-alert-modal mb-1"
        @onClick={{this.showCustomAlertModal}}
        @defaultText="Alert Modal"/>
      <BsButton
        class="custom-confirm-modal mb-1"
        @onClick={{this.showCustomConfirmModal}}
        @defaultText="Confirm Modal"/>
      <BsButton
        class="custom-prompt-modal mb-1"
        @onClick={{this.showCustomPromptModal}}
        @defaultText="Prompt Modal"/>
      <BsButton
        class="custom-prompt-confirm-modal mb-1"
        @onClick={{this.showCustomPromptConfirmModal}}
        @defaultText="Prompt Confirm Modal"/>
      <BsButton
        class="custom-check-confirm-modal mb-1"
        @onClick={{this.showCustomCheckConfirmModal}}
        @defaultText="Check Confirm Modal"/>
      <BsButton
        class="custom-progress-modal mb-1"
        @onClick={{this.showCustomProgressModal}}
        @defaultText="Progress Modal"/>
      <BsButton
        class="custom-process-modal mb-1"
        @onClick={{this.showCustomProcessModal}}
        @defaultText="Process Modal"/>
      <BsButton
        class="custom-form-modal mb-1"
        @onClick={{this.showCustomFormModal}}
        @defaultText="Modal With Form"/>
      {{outlet}}
    </div>
    <div class="col-md-6">
      <p>Last Modal Options:</p>
      <pre>{{this.stringifiedOptions}}</pre>
      <p>Logs:</p>
      <p class="logs">{{#each this.messages as |message|}}{{message}}<br>{{/each}}</p>
      <BsButton
        @onClick={{this.cleanMessage}}
        @defaultText="Clear logs"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Settings:</h3>
      <BsAlert @visible={{true}} @type="warning" @dismissible={{false}}><i class="fa fa-warning"></i> Almost all
        settings in this demo are applied only for Default Modals and not for Modals with custom components. However, you
        are able to pass them in your apps.
      </BsAlert>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header"><h4>General:</h4></div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form.element
                class="confirm-is-active"
                @controlType="checkbox"
                @label="Confirm is active"
                @property="confirmIsActive"/>
            </div>
            <div class="col-md-6">
              <form.element
                class="decline-is-active"
                @controlType="checkbox"
                @label="Decline is active"
                @property="declineIsActive"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form.element
                @label="Icon for confirm button (active)"
                as |el|>
                <PowerSelect
                  id={{el.id}}
                  @options={{this.confirmIconChoices}}
                  @onChange={{fn (mut this.confirmIconActive)}}
                  @selected={{this.confirmIconActive}}
                  @searchEnabled={{false}}
                  @allowClear={{true}} as |icon|>
                  {{icon}}
                </PowerSelect>
              </form.element>
            </div>
            <div class="col-md-6">
              <form.element
                @label="Icon for decline button (active)"
                as |el|>
                <PowerSelect
                  id={{el.id}}
                  @options={{this.declineIconChoices}}
                  @onChange={{fn (mut this.declineIconActive)}}
                  @selected={{this.declineIconActive}}
                  @searchEnabled={{false}}
                  @allowClear={{true}} as |icon|>
                  {{icon}}
                </PowerSelect>
              </form.element>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form.element
                @label="Icon for confirm button (inactive)"
                as |el|>
                <PowerSelect
                  id={{el.id}}
                  @options={{this.confirmIconChoices}}
                  @onChange={{fn (mut this.confirmIconInactive)}}
                  @searchEnabled={{false}}
                  @selected={{this.confirmIconInactive}}
                  @allowClear={{true}} as |icon|>
                  {{icon}}
                </PowerSelect>
              </form.element>
            </div>
            <div class="col-md-6">
              <form.element
                @label="Icon for decline button (inactive)"
                as |el|>
                <PowerSelect
                  id={{el.id}}
                  @options={{this.declineIconChoices}}
                  @onChange={{fn (mut this.declineIconInactive)}}
                  @selected={{this.declineIconInactive}}
                  @searchEnabled={{false}}
                  @allowClear={{true}} as |icon|>
                  {{icon}}
                </PowerSelect>
              </form.element>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form.element
                @label="Primary button type"
                as |el|>
                <PowerSelect
                  id={{el.id}}
                  @options={{this.buttonTypeChoices}}
                  @onChange={{fn (mut this.confirmButtonType)}}
                  @selected={{this.confirmButtonType}}
                  @searchEnabled={{false}} as |type|>
                  {{type}}
                </PowerSelect>
              </form.element>
            </div>
            <div class="col-md-6">
              <form.element
                @label="Secondary button type"
                as |el|>
                <PowerSelect
                  id={{el.id}}
                  @options={{this.buttonTypeChoices}}
                  @onChange={{fn (mut this.declineButtonType)}}
                  @selected={{this.declineButtonType}}
                  @searchEnabled={{false}} as |type|>
                  {{type}}
                </PowerSelect>
              </form.element>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form.element
                @label="Primary button size"
                as |el|>
                <PowerSelect
                  id={{el.id}}
                  @options={{this.buttonSizeChoices}}
                  @onChange={{fn (mut this.confirmButtonSize)}}
                  @selected={{this.confirmButtonSize}}
                  @searchEnabled={{false}} as |size|>
                  {{size}}
                </PowerSelect>
              </form.element>
            </div>
            <div class="col-md-6">
              <form.element
                @label="Secondary button size"
                as |el|>
                <PowerSelect
                  id={{el.id}}
                  @options={{this.buttonSizeChoices}}
                  @onChange={{fn (mut this.declineButtonSize)}}
                  @selected={{this.declineButtonSize}}
                  @searchEnabled={{false}} as |size|>
                  {{size}}
                </PowerSelect>
              </form.element>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form.element
                @label="Modal Size"
                as |el|>
                <PowerSelect
                  id={{el.id}}
                  @options={{this.sizeChoices}}
                  @onChange={{fn (mut this.size)}}
                  @selected={{this.size}}
                  @searchEnabled={{false}}
                  @allowClear={{true}} as |size|>
                  {{size}}
                </PowerSelect>
              </form.element>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form.element
                class="renderInPlace"
                @controlType="checkbox"
                @label="Render In Place"
                @property="renderInPlace"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form.element
                class="backdropTransitionDuration"
                @controlType="number"
                @label="Backdrop Transition Duration"
                @property="backdropTransitionDuration"/>
            </div>
            <div class="col-md-6">
              <form.element
                class="transitionDuration"
                @controlType="number"
                @label="Transition Duration"
                @property="transitionDuration"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-grid gap-3">
      <div class="card">
        <div class="card-header"><h4>Prompt:</h4></div>
        <div class="card-body">
          <form.element
            class="disallow-empty"
            @controlType="checkbox"
            @label="Disallow empty prompt"
            @property="disallowEmptyPrompt"/>
        </div>
      </div>
      <div class="card">
        <div class="card-header"><h4>Progress:</h4></div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form.element
                class="progress-show-label"
                @controlType="checkbox"
                @label="Show label in the progress bar"
                @property="showLabel"/>
              <form.element
                class="progress-settled"
                @controlType="checkbox"
                @label="Progress won't stop on first failed"
                @property="settled"/>
              <form.element
                class="progress-cancelable"
                @controlType="checkbox"
                @label="Progress can be canceled"
                @property="cancelable"/>
              <form.element
                @label="Progress type"
                as |el|>
                <PowerSelect
                  id={{el.id}}
                  @options={{this.typeChoices}}
                  @searchEnabled={{false}}
                  @selected={{this.type}}
                  @onChange={{fn (mut this.type)}} as |type|>
                  {{type}}
                </PowerSelect>
              </form.element>
            </div>
            <div class="col-md-6">
              <form.element
                class="progress-striped"
                @controlType="checkbox"
                @label="Progress bar is striped"
                @property="striped"/>
              <form.element
                class="progress-animate"
                @controlType="checkbox"
                @label="Progress bar is animated"
                @property="animate" as |el|>
                <el.control disabled={{this.notStriped}}/>
              </form.element>
              <form.element
                class="progress-will-fail"
                @controlType="checkbox"
                @label="Progress will fail"
                @property="progressWillFail"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header"><h4>Process:</h4></div>
        <div class="card-body">
          <form.element
            class="process-will-fail"
            @controlType="checkbox"
            @label="Process will fail"
            @property="processWillFail"/>
        </div>
      </div>
    </div>
  </div>
</BsForm>