<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>Back to {{#link-to "docs"}}docs{{/link-to}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 demo">
      <h3>Default modals:</h3>
      {{bs-button
        class="alert-modal"
        onClick=(action "showAlertModal")
        defaultText="Alert Modal"}}
      {{bs-button
        class="confirm-modal"
        onClick=(action "showConfirmModal")
        defaultText="Confirm Modal"}}
      {{bs-button
        class="prompt-modal"
        onClick=(action "showPromptModal")
        defaultText="Prompt Modal"}}
      {{bs-button
        class="prompt-confirm-modal"
        onClick=(action "showPromptConfirmModal")
        defaultText="Prompt Confirm Modal"}}
      {{bs-button
        class="check-confirm-modal"
        onClick=(action "showCheckConfirmModal")
        defaultText="Check Confirm Modal"}}
      {{bs-button
        class="progress-modal"
        onClick=(action "showProgressModal")
        defaultText="Progress Modal"}}
      {{bs-button
        class="process-modal"
        onClick=(action "showProcessModal")
        defaultText="Process Modal"}}

      <h3>Modals with custom components:</h3>
      {{bs-button
        class="custom-alert-modal"
        onClick=(action "showCustomAlertModal")
        defaultText="Alert Modal"}}
      {{bs-button
        class="custom-confirm-modal"
        onClick=(action "showCustomConfirmModal")
        defaultText="Confirm Modal"}}
      {{bs-button
        class="custom-prompt-modal"
        onClick=(action "showCustomPromptModal")
        defaultText="Prompt Modal"}}
      {{bs-button
        class="custom-prompt-confirm-modal"
        onClick=(action "showCustomPromptConfirmModal")
        defaultText="Prompt Confirm Modal"}}
      {{bs-button
        class="custom-check-confirm-modal"
        onClick=(action "showCustomCheckConfirmModal")
        defaultText="Check Confirm Modal"}}
      {{bs-button
        class="custom-progress-modal"
        onClick=(action "showCustomProgressModal")
        defaultText="Progress Modal"}}
      {{bs-button
        class="custom-process-modal"
        onClick=(action "showCustomProcessModal")
        defaultText="Process Modal"}}
      {{bs-button
        class="custom-form-modal"
        onClick=(action "showCustomFormModal")
        defaultText="Modal With Form"}}
      <h3>Settings:</h3>
      {{#bs-form formLayout="vertical" model=this as |form|}}
        <h4>General:</h4>
        <div class="row">
          <div class="col-md-6">
            {{form.element
              controlType="checkbox"
              class="confirm-is-active"
              label="Confirm is active"
              property="confirmIsActive"}}
          </div>
          <div class="col-md-6">
            {{form.element
              controlType="checkbox"
              class="decline-is-active"
              label="Decline is active"
              property="declineIsActive"}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{! template-lint-disable }}
            {{#form.element
              label="Icon for confirm button (active)"
            as |el|}}
              {{#power-select
                id=el.id
                options=confirmIconChoices
                onchange=(action (mut confirmIconActive))
                searchEnabled=false
                allowClear=true as |icon|}}
                {{icon}}
              {{/power-select}}
            {{/form.element}}
          </div>
          <div class="col-md-6">
            {{! template-lint-disable }}
            {{#form.element
              label="Icon for decline button (active)"
            as |el|}}
              {{power-select
                id=el.id
                options=declineIconChoices
                onchange=(action (mut declineIconActive))
                searchEnabled=false
                allowClear=true}}
            {{/form.element}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{! template-lint-disable }}
            {{#form.element
              label="Icon for confirm button (inactive)"
            as |el|}}
              {{power-select
                id=el.id
                options=confirmIconChoices
                onchange=(action (mut confirmIconInactive))
                searchEnabled=false
                allowClear=true}}
            {{/form.element}}
          </div>
          <div class="col-md-6">
            {{! template-lint-disable }}
            {{#form.element
              label="Icon for decline button (inactive)"
            as |el|}}
              {{power-select
                id=el.id
                options=declineIconChoices
                onchange=(action (mut declineIconInactive))
                searchEnabled=false
                allowClear=true}}
            {{/form.element}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{! template-lint-disable }}
            {{#form.element
              label="Primary button type"
            as |el|}}
              {{power-select
                id=el.id
                options=buttonTypeChoices
                onchange=(action (mut confirmButtonType))
                searchEnabled=false}}
            {{/form.element}}
          </div>
          <div class="col-md-6">
            {{! template-lint-disable }}
            {{#form.element
              label="Secondary button type"
            as |el|}}
              {{el.control
                id=el.id
                options=buttonTypeChoices
                onchange=(action (mut declineButtonType))
                searchEnabled=false}}
            {{/form.element}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{! template-lint-disable }}
            {{#form.element
              label="Primary button size"
            as |el|}}
              {{power-select
                id=el.id
                options=buttonSizeChoices
                onchange=(action (mut confirmButtonSize))
                searchEnabled=false}}
            {{/form.element}}
          </div>
          <div class="col-md-6">
            {{! template-lint-disable }}
            {{#form.element
              label="Secondary button size"
            as |el|}}
              {{power-select
                id=el.id
                options=buttonSizeChoices
                onchange=(action (mut declineButtonSize))
                searchEnabled=false}}
            {{/form.element}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{! template-lint-disable }}
            {{#form.element
              label="Modal Size"
            as |el|}}
              {{power-select
                id=el.id
                options=sizeChoices
                onchange=(action (mut size))
                searchEnabled=false
                allowClear=true}}
            {{/form.element}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{form.element
              controlType="checkbox"
              class="renderInPlace"
              label="Render In Place"
              property="renderInPlace"}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{form.element
              controlType="number"
              class="backdropTransitionDuration"
              label="Backdrop Transition Duration"
              property="backdropTransitionDuration"}}
          </div>
          <div class="col-md-6">
            {{form.element
              controlType="number"
              class="transitionDuration"
              label="Transition Duration"
              property="transitionDuration"}}
          </div>
        </div>
        <h4>Prompt:</h4>
        {{form.element
          controlType="checkbox"
          class="disallow-empty"
          label="Disallow empty prompt"
          property="disallowEmptyPrompt"}}
        <h4>Progress:</h4>
        <div class="row">
          <div class="col-md-6">
            {{! template-lint-disable }}
            {{form.element
              controlType="checkbox"
              class="progress-show-label"
              label="Show label in the progress bar"
              property="showLabel"}}
            {{form.element
              controlType="checkbox"
              class="progress-settled"
              label="Progress won't stop on first failed"
              property="settled"}}
            {{form.element
              controlType="checkbox"
              class="progress-cancelable"
              label="Progress can be canceled"
              property="cancelable"}}
            {{#form.element
              label="Progress type"
            as |el|}}
              {{power-select
                id=el.id
                options=typeChoices
                searchEnabled=false
                onchange=(action (mut type))}}
            {{/form.element}}
          </div>
          <div class="col-md-6">
            {{form.element
              controlType="checkbox"
              class="progress-striped"
              label="Progress bar is striped"
              property="striped"}}
            {{form.element
              controlType="checkbox"
              class="progress-animate"
              disabled=notStriped
              label="Progress bar is animated"
              property="animate"}}
            {{form.element
              controlType="checkbox"
              class="progress-will-fail"
              label="Progress will fail"
              property="progressWillFail"}}
          </div>
        </div>
        <h4>Process:</h4>
        {{form.element
          controlType="checkbox"
          class="process-will-fail"
          label="Process will fail"
          property="processWillFail"}}
      {{/bs-form}}
      {{outlet}}
    </div>
    <div class="col-md-6">
      <p>Last Modal Options:</p>
      <pre>{{stringifiedOptions}}</pre>
      <p>Logs:</p>
      <p class="logs">{{#each messages as |message|}}{{message}}<br>{{/each}}</p>
      {{bs-button
        onClick=(action "cleanMessage")
        defaultText="Clear logs"}}
    </div>
  </div>
</div>
{{modals-container}}