<div class="code-block-example mb-4">
  {{#let (get-code-snippet @snippetName) as |snippet|}}
    <div class="card">
      {{#if @snippetName}}
        <div class="card-header">
          {{#if @title}}{{@title}}{{else}}{{@snippetName}}{{/if}}
        </div>
      {{/if}}
      <div class="card-body px-0 py-0">
        <div class="card-text">
          <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
        </div>
      </div>
    </div>
  {{/let}}
  {{yield}}
</div>