{{! BEGIN-SNIPPET components-custom-progress-body }}
<p class="alert alert-info">
  Custom Progress Body Component
  {{@done}}
  /
  {{@overall}}
</p>
<BsProgress as |p|>
  <p.bar
    @value={{@progress}}
    @showLabel={{@options.showLabel}}
    @striped={{@options.striped}}
    @animate={{@options.animate}}
    @type={{@options.type}}
  />
</BsProgress>
{{! END-SNIPPET }}